@charset "UTF-8";

*{
  font-family:'GowunDodum-Regular'  ;
}
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#index {position:relative; display:flex; flex-direction: column;}
#head{margin-bottom:auto;}
#foot{margin-top:auto;}