@charset "UTF-8";

.previewImgs{
	width: 660px;
	min-height:150px;
	padding:10px;
	border:1px dotted black;
}
.previewImgs:empty:before{
	content : attr(data-placeholder);
	color : black;
	font-size:.9em;
}
#previewImg{
	width: 160px;
	min-height:150px;
	padding:10px;
	border:1px dotted black;
	
}
#previewImg:empty:before{
	content : attr(data-placeholder);
	color : black;
	font-size:.9em;
} 

.selected{border: 1px solid blue;}
input[type=checkbox]{display:none;}
	input[type=checkbox]+label{cursor:pointer; padding:5px; background-repeat:no-repeat;}
	input[type=checkbox]:checked+label{border:3px inset;}