<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hago.getchaTable.reservation.dao.IReservationManagementDAO">
	
	<resultMap type="com.hago.getchaTable.reservation.dto.ReservationDTO" id="reservation">		
		<result property="restNum" column="restnum"/>
		<result property="resNum" column="resnum"/>
		<result property="orderNum" column="ordernum"/>
		<result property="email" column="email"/>
		<result property="restName" column="restname"/>
		<result property="resDay" column="resday"/>
		<result property="hours" column="hours"/>
		<result property="capacity" column="capacity"/>
		<result property="status" column="status"/>
	</resultMap>
	<select id="selectRestReservation" resultMap="reservation">
		select * from getchares where restnum=#{param1} AND resday=#{param2} order by hours asc
	</select>
	<update id="reservationConfirm" parameterType="java.lang.Integer">
		update getchares set status='확인완료' where resnum=#{resNum}
	</update>
	<update id="noshow" parameterType="java.lang.Integer">
		update getchares set status='노쇼' where resnum=#{resNum}
	</update>
	<update id="seated" parameterType="java.lang.Integer">
		update getchares set status='착석' where resnum=#{resNum}
	</update>
	<update id="orderDone" parameterType="java.lang.Integer">
		update getchares set status='방문완료' where resnum=#{resNum}
	</update>
	<delete id="reserveCancel" parameterType="java.lang.Integer">
		update getchares set status='예약취소' where resnum=#{resNum}
	</delete>
</mapper>